body, html
{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #666666;
  font-size: 14px;
  --bs-font-sans-serif:Arial;
}
a{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  text-decoration: none;
}
p{
  margin-bottom: 12px;
}
hr{
  margin: 0;
}
.img_u{
  max-width: 100%;
}
.mar_bot{
  margin-bottom: 0;
}
.img_center{
  text-align: center;
  margin: 0;
}
.wrapper{
  max-width: 89.584%;
  margin: 0 auto;
}
.a_header{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #666666;
}
.a_header_white{
  color: #FFFFFF;
  font-size: 18px;
}

/*Header id1 start*/
.header{
  min-height: 52px;
  padding: 6px 0;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
}
.wrapper_header{
  justify-content: space-between;
  align-items: center;
}
.header_logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo_pic{
  margin-right: 10px;
}
.header_list{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header_item_id11{
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 39px;
}
.header_item_id11:last-child{
  margin-right: 0px;
}
.a_logo{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.header_nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_item_id12{
  display: flex;
  align-items: center;
  margin-right: 46px;
}
.header_item_id12:last-child{
  margin-right: 0px;
}
.a_logo{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

/*header id1 end*/
.header_id2{
  min-height: 52px;
  background: rgba(55, 148, 209, 0.9);
  backdrop-filter: blur(4px);
  padding: 9px 0 8px;
}
.header_list_id2{
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header_item_id2{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.h1_home_slider{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #FFFFFF;
  margin: 0;
}
.p_slider{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 24px;
}
#id3003{
  float: left;
  margin-top: 85px;
}
.h1_home{
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  margin-top: 10px;
}
.p_home{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
a.button_main{
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  background: #3794D1;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 9px 22px 10px 22px;
  display: inline-block;
  float: right;
}
.slider_main{
  min-height: 421px;
  padding: 56px 0 50px;
  background: url('image/slider.png') no-repeat center;
  background-size: cover;
}
.main_home_id3{
  background: #FFFFFF;
  backdrop-filter: blur(4px);
  padding: 27px 0 28px;
}
.main_home_id9{
  padding: 44px 0;
  background: linear-gradient(0deg, #3794D1, #3794D1);
  backdrop-filter: blur(4px);
}
.main_home_r{
  background: #FFFFFF;
  backdrop-filter: blur(4px);
  padding: 50px 0;
}
.main_home_l{
  padding: 50px 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 0.01%);
  backdrop-filter: blur(4px);
}
.col_home_l{
  padding-left: 0px;
  padding-right: 61px;
}
.col_home_r{
  padding-left: 61px;
  padding-right: 0px;
}
#id4000 .h1_id4{
  margin: 23px 0 0;
}
.hr_id4000{
  /*max-width: 94.768%;*/
  margin: 4px 0 18px;
  border: 1px solid #666666;
}
.p_text{
  max-width: 94.768%;
}
.but_id4{
  margin-top: 18px;
  margin-bottom: 22px;
  float: left;
}
#id4003{
  float: left;
}
.img_id4{
  padding-left: 30px;
}
.h1_id5{
  margin-top: 10px;
  margin-bottom: 86px;
}
.but_id5{
  margin-top: 71px;
}
.carousel-indicators{
  right: inherit;
  margin-left: 0;
  margin-bottom: 0;
  position: inherit;
  justify-content: flex-start;
}
.carousel-control-next{
  width: 24px;
}
.carousel-control-next-icon{
  background-image: url('image/arrow.png');
  background-size: cover;
}
.carousel-indicators{
}
.carousel-indicators [data-bs-target]{
    background-color: #C4C4C4;
    border-top: 0;
    border-bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 35px  12px 0 0;
}
.carousel-indicators .active{
  background-color: #3794D1;
}
.carousel-indicators [data-bs-target]:last-child{
  margin-right: 0;
}
.h1_id6{
  margin-bottom: 88px;
}
.but_id6{
  margin-top: 112px;
}
.h1_id7{
  margin-bottom: 68px;
}
.but_id7{
  margin-top: 78px;
}
.h1_id8{
  margin-bottom: 72px;
}
.but_id8{
  margin-top: 95px;
}
#id9000 .h1_id9{
  margin: 6px 0 0;
  color: #FFFFFF;
}
.hr_id9000{
  /*max-width: 94.768%;*/
  margin: 4px 0 18px;
  border: 1px solid #FFFFFF;
}
.p_id9{
  color: #FFFFFF;
}
#id9003{
  float: left;
  margin-top: 6px;
  margin-bottom: 6px;
}
.but_id9{
  border: 1px solid #FFFFFF;
}
.main_home_id11{
  min-height: 322px;
  padding: 50px 0;
  background: url('image/id10000.png') no-repeat center;
  background-size: cover;
}
.hr_id11000{
  margin: 1px 0 11px;
  border: 1px solid #666666;
  max-width: 94.768%;
}
.h1_id11{
  margin: 0;
}
/*News block start*/
.inf_news{
  max-width: 96.233%;
  min-height: 159px;
}
.p_news{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #3794D1;
}
.vl_news{
  height: 16px;
  border: 1px solid #3794D1;
  margin: 0 9px;
}
.vl_news_black{
  height: 16px;
  border: 1px solid #666666;
  margin: 0 9px;
}
.p_news_black{
  color: #666666;
}
/*News block end*/
@media (max-width: 767px) {
  .wrapper{
    max-width: 84.864%;
    /*max-width: 89.91%;*/
  }
  .inf_news{
    min-height: 201px;
  }
  .col8_p_id9{
    padding: 0;
  }
}
@media (min-width: 768px) {
  .h1_home{
    font-size: 24px;
    line-height: 28px;
    margin-top: 0px;
  }
  .p_home{
    font-size: 12px;
    line-height: 14px;
  }
  .p_news{
    font-size: 10px;
    line-height: 11px;
  }
  .vl_news{
    height: 11px;
    margin: 0 4px;
  }
  .inf_news{
    height: 160px;
  }
  .but_id5{
    margin-top: 11px;
  }
  .h1_id5{
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .carousel-indicators [data-bs-target]{
    margin-top: 5px;
  }
  #id5001, #id6005, #id7001, #id8004, .img_id9, .img_id4{
    max-width: 344px;
  }
  .inf_home{
    height: 180px;
  }
  #id6000 .inf_home{
    height: 149.88px;
  }
  .h1_id7, .h1_id6, .h1_id8{
    margin-bottom: 0;
  }
  .but_id7, .but_id6, .but_id8{
    margin-top: 0;
  }
  .col8_p_id9{
    padding: 0;
  }
  a.button_main{
    font-size: 12px;
    line-height: 14px;
    padding: 4px 17px 5px 17px;
  }
  p{
    margin-bottom: 6px;
  }
}
@media (min-width: 914px) {
  #id6000 .inf_home{
    height: 180px;
  }
}
@media (min-width: 992px) {
  .h1_home{
    font-size: 30px;
    line-height: 34px;
    margin-top: 10px;
  }
  .p_home{
    font-size: 15px;
    line-height: 17px;
  }
  .p_news{
    font-size: 14px;
    line-height: 16px;
  }
  .vl_news{
    height: 16px;
    margin: 0 9px;
  }
  .inf_news{
    height: 180px;
  }
  .but_id5{
    margin-top: 16px;
  }
  .h1_id5{
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .carousel-indicators [data-bs-target]{
    margin-top: 5px;
  }
  .inf_home{
    height: 211px;
  }
  #id6000 .inf_home{
    height: 177px;
  }
  .h1_id7, .h1_id6, .h1_id8{
    margin-bottom: 0;
  }
  .but_id7, .but_id6, .but_id8{
    margin-top: 0;
  }
  #id5001, #id6005, #id7001, #id8004{
    max-width: 444.33px;
  }
  .img_id9, .img_id4{
    max-width: 100%;
  }
  a.button_main{
    font-size: 18px;
    line-height: 21px;
    padding: 9px 22px 10px 22px;
  }
  p{
    margin-bottom: 12px;
  }
  .col8_p_id9{
    padding: 0 45px 0 0;
  }
}
@media (min-width: 1108px) {
  #id6000 .inf_home{
    height: 211px;
  }
}
@media (min-width: 1200px) {
  .h1_home{
    font-size: 36px;
    line-height: 41px;
  }
  .p_home{
    font-size: 18px;
    line-height: 21px;
  }
  .h1_id5{
    margin-bottom: 40px;
  }
  .but_id5{
    margin-top: 39.5px;
  }
  #id5001, #id6005, #id7001, #id8004{
    max-width: 537.5px;
  }
  .carousel-indicators [data-bs-target]{
    margin-top: 20px;
  }
  .inf_home{
    height: 234px;
  }
  #id6000 .inf_home{
    height: 193px;
  }
  .h1_id7, .h1_id6, .h1_id8{
    margin-bottom: 16.25px;
  }
  .but_id7, .but_id6, .but_id8{
    margin-top: 16.25px;
  }
}
@media (min-width: 1302px) {
  #id6000 .inf_home{
    height: 234px;
  }
}
@media (min-width: 1440px) {
  .inf_news{
    height: 159px;
  }
  .h1_id5{
    margin-bottom: 86px;
  }
  .but_id5{
    margin-top: 71px;
  }
#id5001, #id6005, #id7001, #id8004{
    max-width: 645px;
  }
  .carousel-indicators [data-bs-target]{
    margin-top: 35px;
  }
  .inf_home, #id6000 .inf_home{
    height: 192px;
  }
  .h1_id7, .h1_id6, .h1_id8{
    margin-bottom: 68px;
  }
  .but_id7, .but_id6, .but_id8{
    margin-top: 78px;
  }
  #id4000 .inf_99{
    height: 138px;
  }
  #id9000 .inf_99{
    height: 180px;
  }
}

@media (min-width: 1680px) {
  .wrapper{
    max-width: 1530px;
  }
  .h1_id5{
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .but_id5{
    margin-top: 126.81px;
  }
  #id5001, #id6005, #id7001, #id8004{
    max-width: 100%;
  }
  .h1_id7, .h1_id6, .h1_id8{
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .but_id7, .but_id6, .but_id8{
    margin-top: 115.81px;
  }
}

/*Footer старт*/
.footer{
  min-height: 314px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  padding-top: 32px;
  padding-bottom: 7px;
}
.footer_a{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer_item{
  margin-bottom: 10px;
}
.footer_bot1{
  margin-bottom: 10px;
}
.footer_bot2{
  margin-bottom: 19px;
}
.footer_item:last-child{
  margin-bottom: 48px;
}
.footer_right{
  padding: 0;
  padding-left: 11.086%;
}
.footer_center{
  padding: 0 0 0 15px;
}
.f_contact{
  font-weight: bold;
}
.hr_footer{
  border: 1px solid #FFFFFF;
  margin: 0;
}
.a_f{
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #FFFFFF;
}
.a_f_r{
  margin-top: 5px;
}
.f_end{
  margin: 0;
  margin-top: 7px;
}
.vl_footer{
  height: 23px;
  margin:0 29px;
  border: 1px solid #FFFFFF;
}
.hr_end{
  margin-bottom: 7px;
}
/*Footer конец*/
@media (max-width: 767px) {
  .col_home_l,.col_home_r{
    padding: 0;
  }
  /*Proba razmera dly center*/
  .h1_home_slider{
    font-size: 35px;
    line-height: 40px;
  }
  .p_slider{
    font-size: 18px;
    line-height: 21px;
  }
  .img_id4{
    padding: 0;
  }
  .img_id9{
    margin-bottom: -22px;
  }
  .footer_right{
    padding-left: 15px;
  }
  .vl_footer{
    margin: 0 19px;
  }
}
@media (max-width: 575px){
  .footer_right{
    padding: 0;
  }
  .header_item_id11{
    margin-right: 15px;
  }
  .header_item_id11:last-child{
    margin-right: 0px;
  }
}
.m_m{
  min-height: 337px;
}
/*В разработке start*/
.main_developing,.main_developing_1{
  padding: 0;
  padding: 58px 0;
  min-height:236px;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
}
.h1_developing{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #777777;
  margin-bottom: 9px;
}
.h2_developing,.h2_developing_1,.a_developing_1{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #3794D1;
  margin-bottom: 0;
}
.main_developing_1{
  padding-top: 0;
  min-height: 185px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
}
.hr_developing{
  border: 1px solid rgba(102, 102, 102, 0.3);
  max-width: 98.339%;
}
.h2_developing_1{
  color: #666666;
  margin-top: 56px;
  margin-bottom: 12px;
}
.a_developing_1{
  font-weight: normal;
  text-decoration-line: underline;
  color: #3794D1;
}
@media (max-width: 767px) {
  .h1_developing{
    font-size: 40px;
    line-height: 46px;
  }
  .h2_developing{
    font-size: 20px;
    line-height: 23px;
  }
}
/*В разработке END*/

.contact_1{
  background: #FFFFFF;
  backdrop-filter: blur(4px);
  padding: 30px 0 35px 0;
}
.contact_2, .contact_2_about{
  height: 403px;
  background: url('image/contact.jpg') no-repeat center;
  background-size: cover;
}
.contact_3{
  min-height: 603px;
  padding: 28px 0 50px 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
}
.vl_contact_3{
  margin-left: 97.5px;
}
.hr_contact{
  margin: 58px 0 57px 0;
  border: 1px solid rgba(102, 102, 102, 0.3);
}
.main_inf_bot{
  margin-top: 27px;
}
/*Навигация main start*/
.main_nav_a{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #3794D1;
}
.main_nav{
  margin-left: 3px;
}
.main_nav_vl{
  margin: 0 19px;
  height: 25px;
  border: 1px solid #3794D1;
}
.main_hr1_contact{
  margin-bottom: 10px;
}
.hr_main_nav{
  margin: 5px 0 5px;
  border: 1px solid #3794D1;
}
/*Навигация main end*/

/*Middle main start*/
.h2_inf{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  color: #3794D1;
  margin-bottom: 16px;
}
.p_inf_add{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #666666;
}
.p_inf{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
.p_inf_blue{
  color: #3794D1;
}
.p_inf_white{
  color: #FFFFFF;
}
.p_a_inf{
  font-size: 18px;
  line-height: 21px;
  color: #3794D1;
}
.p_a_inf_black{
  color: #666666;
}
.p_a_inf_white{
  color: #FFFFFF;
}
.vl_inf{
  height: 140px;
  width: 0;
  margin-right: 25px;
  border: 5px solid rgba(102, 102, 102, 0.5);
}
.h2_inf_black{
  color: #666666;
}
.h3_inf{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
}
.h3_inf_blue{
  color: #3794D1;
}
.h3_inf_white{
  color: #FFFFFF;
}
/*Middle main end*/
.a_line{
  text-decoration-line: underline;
}

/*Об ISO20022 start*/
.contact_2_about{
  height: 403px;
  background: url('image/about_iso.jpg') no-repeat center;
  background-size: cover;
}
.contact_3_about{
  min-height: 689px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
  padding: 31px 0 58px 0;
}
.contact_4_about{
  padding: 58px 0;
  min-height: 380px;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
}
.contact_5_about{
  min-height: 528px;
  background: #3794D1;
  padding: 58px 0;
  backdrop-filter: blur(4px);
}
.p_contact_about{
  padding-right: 45.5px;
}
.p_contact_4{
  margin-right: 11px;
}
.imh_r, .imh_l{
  position: relative;
  margin-top: 54px;
  margin-left: 54px;
  height: 358px;
  width: 358px;
  background: #3794D1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 26px;
}
.img_main_l, .img_main_r{
  position: absolute;
}
.col_main_l{
  padding-left: 125px;
  padding-right: 0;
}
.col_main_r{
  padding-left: 108px;
  padding-right: 0;
}
.imh{
  transform: rotate(-3deg);
}
a.button_main1{
  border: 1px solid #FFFFFF;
  background: #3794D1;
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 13px 26px;
  margin-bottom: 16px;
  display: inline-block;
}
@media (max-width: 1200px) {
  .col_main_l{
    padding-left: 33px;
  }
}
@media (max-width: 1100px) {
  .col_main_r{
    padding-left: 25px;
  }
  .col_main_l{
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
.col_main_r,.col_main_l{
    padding-left: 0;
    display: flex;
}
.img_main_l, .img_main_r{
  position: inherit;
}
.imh_r, .imh_l{
  margin-top: 0;
  width: 100%;
  height: auto;
}
  .col_main_r{
    margin-top: 79px;
  }
  .main_nav_vl{
    margin: 0 9px;
  }
}
/*Об ISO20022 end*/

@media (max-width: 767px) {
  .contact_3 .h2_inf{
    font-size: 30px;
    line-height: 34px;
  }
}
/*Start Полезные ссылки*/
.section2_links{
  height: 403px;
  background: url('image/link.jpg') no-repeat center;
  background-size: cover;
}
.section3_links{

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
  padding: 58px 0;
}
.h2_link_inf{
  margin-bottom: 20px;
}
.p_inf_bold{
  font-weight: bold;
}
.col4_start{
  padding-right: 0;
  padding-left: 7.752%;
}
.p_col4_1{
  margin-bottom: 30px;
}
.p_col4_2{
  margin-bottom: 10px;
}
.sec3_2{
  padding-bottom: 29px;
}
.hr_link{
  border: 1px solid rgba(102, 102, 102, 0.3);
  padding: 0;
}
.h3_inf_link{
  margin-bottom: 20px;
}
.sec3_2 h3{
  padding-top: 57px;
}
.sec3_3 h3, .sec3_4 h3{
  padding-top: 30px;
}
.p_links_bot{
  padding-bottom: 29px;
}
.p_links_sec3_1{
  padding-bottom: 57px;
}
.col6_r{
  padding: 0 0 0 15px;
}
.col6_l{
  padding: 0 15px 0 0;
}
.sec3_2 .col6_l .p_links_bot,.sec3_4 .col6_l .p_links_bot{
  padding-bottom: 0px;
}
@media (max-width: 767px) {
  .col4_start{
    padding: 0;
  }
  .p_links_sec3_1{
    padding-bottom: 30px;
  }
  .sec3_2 .col6_l .p_links_bot,.sec3_4 .col6_l .p_links_bot{
    padding-bottom: 30px;
  }
  .col6_l, .col6_r{
    padding: 0;
  }
  .sec3_2 h3{
    padding-top: 31px;
  }
}
/*EDN полезные ссылки*/
/*Start Новости*/
.section2_news{
  height: 403px;
  background: url('image/news.jpg') no-repeat center;
  background-size: cover;
  padding-top: 47px;
}
.col7_l{
  padding: 0 12.5px 0 0;
}
.sec2_1_news{
  padding: 20px 0  11px 20px;
  background: rgba(255, 255, 255, 0.7);
}
.p_inf_add_news{
  margin-bottom: 4px;
}
.h2_inf_news{
  margin-bottom: 10px;
}
.section3_news{
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
  padding: 59px 0 49px;
}
.section4_news{
  background: #3794D1;
  backdrop-filter: blur(4px);
  padding: 51px 0 49px;
}
.sec31_news img, .sec32_news img{
  padding-bottom: 30px;
}
.h3_inf_news{
  margin: 10px 0;
}
.h3_sec4{
  margin-bottom: 20px;
}
.sec31_news .mar_bot{
  padding-bottom: 75px;
}
.sec32_news .mar_bot{
  padding-bottom: 32px;
}
.p_news_end{
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-decoration: underline;
  float: right;
  color: #3794D1;
}
.p_sec4{
  margin-bottom: 40px;
}
.p_sec4_1{
  margin-bottom: 24px;
}
.sec4_1{
  padding: 20px 27px 25px;
  background: rgba(255, 255, 255, 0.3);
  align-items: center;
  text-align: center;
}
.sec4_1 a.button_main1{
  border: 0;
  margin: 0;
}
.col4_sec4_1{
  padding: 0 0 0 20px;
}
@media (max-width: 767px) {
  .sec4_1{
    margin-top: 32px;
  }
  .sec31_news .mar_bot{
    padding-bottom: 32px;
  }
  .col4_sec4_1{
    padding: 0;
  }
}
/*End Новости*/

/*БЛОК полный каталог START*/
/*Блок поиска начало*/
.find_block{
  padding: 20px 0;
  background: #666666;
  backdrop-filter: blur(4px);
}
.h2_find_block{
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  margin: 0;
}
.h2_find_block_grey{
  color: #C4C4C4;
}
.find_block form {
  position: relative;
  min-width: 97.675px;
  margin: 0 0 0 2.326%;
  padding: 8px 14px 9px;
  background: #FFFFFF;
}
.find_block input, .find_block button {
  border: none;
  outline: none;
  background: transparent;
}
.find_block input {
  width: 100%;
  padding: 8px 0 6px;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
.find_block button {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 14px;
  padding: 0;
  background-image: url('image/search.png');
}
/*Блок поиска конец*/
.sec3_mes{
  padding: 35px 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
}
.sec3_mes_1, .sec3_mes_2{
  padding: 15px 80px;
  background: rgba(55, 148, 209, 0.3);
}
.sec3_mes_2{
  margin-top: 10px;
}
.col_mes_margent{
  margin-right: 70px;
}
.col_mes_margent_1{
  margin-left: 129px;
}
.sec3_mes_1_dop{
  background: #FFFFFF;
  padding: 29px 80px;
}
.accordion-button{
  padding: 0;
  border: 0;
}
.accordion-collapse {
  border: 0;
}
.accordion-button .collapsed {
    border: 0;
}
.accordion-button:focus {
    border-color: inherit;
    box-shadow: inherit;
}
.accordion-button:not(.collapsed) {
    color: inherit;
    background-color:inherit;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 146px;
    height: 23px;
    background-image: url('image/expand.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
    background-image: url('image/hide.png');
    transform: rotate(0deg);
}
.accordion-body{
  padding: 0;
}
.hr_mess{
  padding: 0;
  margin: 0;
  border: 1px solid #D0D3D5;
}
.but_xsd{
  margin-left: 41px;
}
.id_mes_mar{
  margin-right: 95px;
}
.dop_sis{
  background: #FFFFFF;
  padding: 13px 14px;
  width: 286px;
}
.dop_sis_mar{
  margin: 0;
  margin-bottom: 15px;
}
.btn{
  padding: 0;
}
@media (max-width: 991px) {
  .find_block form{
    max-width: 100%;
    margin: 0;
  }
  .find_block input{
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 767px) {
.sec3_mes_1_dop, .sec3_mes_2, .sec3_mes_1{
    padding: 10px 20px;
  }
  .col_mes_margent{
    margin: 0;
  }
  .col_mes_margent_1{
    margin: 0;
  }
  .but_xsd
  {
    margin: 0;
  }
}
@media (min-width: 1037px){
  .p_mes_1{
    margin-right: 32.75px;
  }
}
/*БЛОК полный каталог END*/

/*START Справочники*/
.col6_direc_padding{
  padding-left: 10px;
  padding-right: 0;
}
.col5_pad{
  padding-left: 48px;
  padding-right: 10px;
}
@media (max-width: 575px) {
  .col6_direc_padding{
    padding: 0;
  }
}
.sec31_mes_gray{
  background: rgba(208, 211, 212, 0.4);
  padding: 19px 80px;
  margin-top: 5px;
}
.sec3_mes .business{
  margin-top: 10px;
}
.mar_directory{
  margin-right: 35px;
}
@media (max-width: 991px) {
  .sec31_mes_gray .col_mes_margent_1{
    margin: 0;
  }
  .business .col_mes_margent_1{
    margin: 0;
  }
   .business1 .but_xsd{
    margin-left: 6px;
  }
}
@media (min-width: 1400px) {
    .business1 .but_xsd{
      margin-left: 25px;
    }
  }
@media (min-width: 1441px) {
    .business1 .but_xsd{
      margin-left: 41px;
    }
  }

  @media (max-width: 767px) {
  .sec31_mes_gray{
      padding: 10px 20px;
    }
    .business1 .but_xsd{
      margin-left: 0;
    }
  }
  /*END Справочники*/

  /*START Наши услуги*/
.section2_our{
  height: 403px;
  background: url('image/our_services.jpg') no-repeat center;
  background-size: cover;
}
.section3_our{
  background: #FFFFFF;
  padding: 58px 0;
}
.section4_our{
  background: #3794D1;
  padding: 40px 0;
}
.col_our_service{
  width: 300px;
  min-height: 248px;
  margin-top: 26px;
  margin-right: 30px;
  padding: 0;
}
.col_our_service:last-child{
  margin-right: 0;
  background: url('image/our_4.png') 100% 100% no-repeat;
}
.blok_1{
  background: url('image/our_1.png') 100% 100% no-repeat;
}
.blok_2{
  background: url('image/our_2.png') 100% 100% no-repeat;
}
.blok_3{
  background: url('image/our_3.png') 100% 100% no-repeat;
}
.col_our{
  height: 248px;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 22px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/*.col_our_odd{
  padding: 82px 22px;
}*/
@media (max-width: 1440px) {
  .col_our_service{
    margin-right: auto;
  }
}
@media (max-width: 1361px) {
  .col_our_service{
    margin-right: 10px;
  }
  .col_our_right_t{
    margin-right: 0px;
  }
}
@media (max-width: 1026px) {
  .col_our_right{
    margin-right: 0;
  }
  .col_our_right_t{
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .col_our_service{
    margin-right: 0;
  }
  .section3_our .h2_inf{
    font-size: 30px;
    line-height: 34px;
  }
  .section3_our .h3_inf{
    margin-top: 25px;
  }
}
/*END Наши услуги*/

/*START Репозиторий*/
.repository_text{
  color: black;
  text-align: center;
}
.sec3_repository_header{
  background:#b8b8b8;
}
.sec3_repository_dop{
  align-items: center;
  background:#ebebeb;
}
.p_inf_repository{
  text-align: justify;
  text-indent: 25px;
}
.table_repository{
  font:20px Times New Roman;
  border: 1px solid black;
  color: black;
  width: 100%;
  border-collapse:collapse;
  border-spacing: 0px;
  height: auto;
}
.table_repository_header{
  font-weight:bold;
  text-align:center;
  border: 1px solid black;
}
.table_row_repository{
  border: 1px solid black;
}
iframe{
  height: 200px;
  width: auto;
}
/*END Репозиторий*/

.but_xsd_left{
  margin-left: 41px;
}
@media (max-width: 575px) {
  .but_xsd_left
  {
    margin: 0;
  }
  .mes_dir_auto .h1_developing{
    font-size: 36px;
    line-height: 41px;
  }
  .h1_repositiry{
    font-size: 36px;
    line-height: 41px;
  }
}
a.button_main_mes{
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  background: #3794D1;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 138px;
  height: 40px;
  padding: 9px 22px 10px 26px;
  display: inline-block;
}
mark{
  background-color: yellow;
  color: black;
  padding: 0;
}
a.button_download{
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  background: #3794D1;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  height: 35px;
  min-width: 75px;
  text-align: center;
  padding: 8px 8px 7px 5px;
  display: table-cell;
}
a.button_download_xsd{
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  background: #3794D1;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  height: 38px;
  width: 70px;
  text-align: center;
  padding: 8px 9px 9px 5px;
  display: table-cell;
}
a.button_download img{
  vertical-align: baseline;
  margin-left: 8.44px;
}
a.button_download_xsd img{
  vertical-align: baseline;
  margin-left: 6px;
}
/*Общая информация*/
.section3_general{
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  padding: 50px 0;
}
.section3_block{
  margin: 0;
  margin-bottom: 30px;
}
.ul_general{
  padding-left: 40px;
  margin-bottom: 5px;
}
.ul_general li{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width:767px) {
  .img_general{
    width: 100%;
  }
}
.p_inf_gen{
  text-align: justify;
}
