body, html
{
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  color: #666666;
  font-size: 14px;
  --bs-font-sans-serif:Arial;
}
p{
  margin-bottom: 12px;
}
.img_u{
  max-width: 100%;
}
.mar_bot{
  margin-bottom: 0;
}
.img_center{
  text-align: center;
  margin: 0;
}
.wrapper{
  max-width: 89.584%;
  margin: 0 auto;
}
.a_header{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #666666;
}
.a_header_white{
  color: #FFFFFF;
}

/*Header id1 start*/
.header{
  min-height: 52px;
  padding: 6px 0;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
}
.wrapper_header{
  justify-content: space-between;
  align-items: center;
}
.header_logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo_pic{
  margin-right: 10px;
}
.header_list{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header_item_id11{
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 39px;
}
.header_item_id11:last-child{
  margin-right: 0px;
}
.a_logo{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.header_nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_item_id12{
  display: flex;
  align-items: center;
  margin-right: 46px;
}
.header_item_id12:last-child{
  margin-right: 0px;
}
.a_logo{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

/*header id1 end*/
.header_id2{
  min-height: 52px;
  background: rgba(55, 148, 209, 0.9);
  backdrop-filter: blur(4px);
  padding: 9px 0 8px;
}
.header_list_id2{
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header_item_id2{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.h1_home_slider{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #FFFFFF;
  margin: 0;
}
.p_slider{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 24px;
}
#id3003{
  float: left;
  margin-top: 85px;
}
.h1_home{
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  margin-top: 10px;
}
.p_home{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
a.button_main{
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  background: #3794D1;
  outline: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 9px 22px 10px 22px;
  display: inline-block;
  float: right;
}
.slider_main{
  min-height: 421px;
  padding: 56px 0 50px;
  background: url('image/slider.png') no-repeat center;
  background-size: cover;
}
.main_home_id3{
  background: #FFFFFF;
  backdrop-filter: blur(4px);
  min-height: 361px;
  padding: 27px 0 28px;
}
.main_home_id9{
  padding: 44px 0;
  background: linear-gradient(0deg, #3794D1, #3794D1);
  backdrop-filter: blur(4px);
  min-height: 391px;
}
.main_home_r{
  min-height: 529px;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
  padding: 50px 0;
}
.main_home_l{
  min-height: 529px;
  padding: 50px 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 0.01%);
  backdrop-filter: blur(4px);
}
.col_home_l{
  padding-left: 0px;
  padding-right: 61px;
}
.col_home_r{
  padding-left: 61px;
  padding-right: 0px;
}
.h1_id4{
  margin-top: 23px;
  margin-bottom: 5px;
}
.hr_id4000{
  max-width: 94.768%;
  border: 1px solid #666666;
  margin: 0;
  margin-bottom: 19px;
}
.p_text{
  max-width: 94.768%;
}
.but_id4{
  margin-top: 18px;
  float: left;
}
#id4003{
  float: left;
}
.img_id4{
  padding-left: 30px;
}
.h1_id5{
  margin-top: 10px;
  margin-bottom: 86px;
}
.but_id5{
  margin-top: 71px;
}
.carousel-indicators{
  right: inherit;
  margin-left: 0;
  margin-bottom: 0;
  position: inherit;
  justify-content: flex-start;
}
.carousel-control-next{
  width: 24px;
}
.carousel-control-next-icon{
  background-image: url('image/arrow.png');
  background-size: cover;
}
.carousel-indicators{
}
.carousel-indicators [data-bs-target]{
  background-color: #C4C4C4;
    border-top: 0;
    border-bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 35px  12px 0 0;
}
.carousel-indicators .active{
  background-color: #3794D1;
}
.carousel-indicators [data-bs-target]:last-child{
  margin-right: 0;
}
.h1_id6{
  margin-bottom: 88px;
}
.but_id6{
  margin-top: 112px;
}
.h1_id7{
  margin-bottom: 68px;
}
.but_id7{
  margin-top: 78px;
}
.h1_id8{
  margin-bottom: 72px;
}
.but_id8{
  margin-top: 95px;
}
.h1_id9{
  margin: 6px 0 0;
  color: #FFFFFF;
}
.hr_id9000{
  max-width: 94.768%;
  margin: 4px 0 7px;
  border: 1px solid #FFFFFF;
}
.p_id9{
  color: #FFFFFF;
}
#id9003{
  float: left;
  margin-top: 16px;
  margin-bottom: 5px;
}
.but_id9{
  border: 1px solid #FFFFFF;
}
.main_home_id11{
  min-height: 322px;
  padding: 50px 0;
  background: url('image/id10000.png') no-repeat center;
  background-size: cover;
}
.hr_id11000{
  margin: 1px 0 11px;
  border: 1px solid #666666;
  max-width: 94.768%;
}
.h1_id11{
  margin: 0;
}
/*News block start*/
.inf_news{
  max-width: 96.233%;
  min-height: 159px;
}
.p_news{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #3794D1;
}
.vl_news{
  height: 16px;
  border: 1px solid #3794D1;
  margin: 0 9px;
}
/*News block end*/
/*Footer старт*/
.footer{
  min-height: 314px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  padding-top: 32px;
  padding-bottom: 7px;
}
.footer_a{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer_item{
  margin-bottom: 16px;
}
.footer_bot1{
  margin-bottom: 17px;
}
.footer_bot2{
  margin-bottom: 19px;
}
.footer_item:last-child{
  margin-bottom: 48px;
}
.footer_right{
  padding: 0;
  padding-left: 11.086%;
}
.footer_center{
  padding: 0 0 0 15px;
}
.f_contact{
  font-weight: bold;
}
.hr_footer{
  border: 1px solid #FFFFFF;
  margin: 0;
}
.a_f{
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #FFFFFF;
}
.a_f_r{
  margin-top: 5px;
}
.f_end{
  margin: 0;
  margin-top: 7px;
}
.vl_footer{
  height: 23px;
  margin:0 29px;
  border: 1px solid #FFFFFF;
}
.hr_end{
  margin-bottom: 7px;
}
/*Footer конец*/
@media (max-width: 767px) {
  .col_home_l,.col_home_r{
    padding: 0;
  }
  /*Proba razmera dly center*/
  .h1_home_slider{
    font-size: 35px;
    line-height: 40px;
  }
  .p_slider{
    font-size: 18px;
    line-height: 21px;
  }
  .img_id4{
    padding: 0;
  }
  .img_id9{
    margin-bottom: -22px;
  }
  .footer_right{
    padding-left: 15px;
  }
  .vl_footer{
    margin: 0 19px;
  }
}
@media (max-width: 575px){
  .footer_right{
    padding: 0;
  }
  .header_item_id11{
    margin-right: 15px;
  }
  .header_item_id11:last-child{
    margin-right: 0px;
  }
}
.m_m{
  min-height: 337px;
}
/*В разработке start*/
.main_developing,.main_developing_1{
  padding: 0;
  padding: 58px 0;
  min-height:236px;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
}
.h1_developing{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #666666;
  margin-bottom: 9px;
}
.h2_developing,.h2_developing_1,.a_developing_1{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #3794D1;
  margin-bottom: 0;
}
.main_developing_1{
  padding-top: 0;
  min-height: 185px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
}
.hr_developing{
  border: 1px solid rgba(102, 102, 102, 0.3);
  max-width: 98.339%;
}
.h2_developing_1{
  color: #666666;
  margin-top: 56px;
  margin-bottom: 12px;
}
.a_developing_1{
  font-weight: normal;
  text-decoration-line: underline;
  color: #3794D1;
}
/*В разработке END*/

.contact_1{
  min-height: 208px;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
  padding: 58px 0 60px 0;
}
.contact_2, .contact_2_about{
  min-height: 403px;
  background: url('image/contact.jpg') no-repeat center;
  background-size: cover;
}
.contact_3{
  min-height: 603px;
  padding: 31px 0 58px 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
}
.vl_contact_3{
  margin-left: 97.5px;
}
.hr_contact{
  margin: 58px 0 57px 0;
  border: 1px solid rgba(102, 102, 102, 0.3);
}
.main_inf_bot{
  margin-top: 27px;
}
/*Навигация main start*/
.main_nav_a{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #3794D1;
}
.main_nav{
  margin-left: 3px;
}
.main_nav_vl{
  margin: 0 19px;
  height: 25px;
  border: 1px solid #3794D1;
}
.main_hr1_contact{
  margin-bottom: 10px;
}
/*Навигация main end*/

/*Middle main start*/
.h2_inf{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #3794D1;
  margin-bottom: 16px;
}
.p_inf_add{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #666666;
}
.p_inf{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
.p_inf_blue{
  color: #3794D1;
}
.p_inf_white{
  color: #FFFFFF;
}
.p_a_inf{
  font-size: 18px;
  line-height: 21px;
  color: #3794D1;
}
.vl_inf{
  height: 140px;
  width: 0;
  margin-right: 25px;
  border: 5px solid rgba(102, 102, 102, 0.5);
}
.h2_inf_black{
  color: #666666;
}
/*Middle main end*/
.a_line{
  text-decoration-line: underline;
  color: #3794D1;
}

/*Об ISO20022 start*/
.contact_2_about{
  background: url('image/about_iso.jpg') no-repeat center;
  background-size: cover;
}
.contact_3_about{
  min-height: 689px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(4px);
  padding: 31px 0 58px 0;
}
.contact_4_about{
  padding: 58px 0;
  min-height: 380px;
  background: #FFFFFF;
  backdrop-filter: blur(4px);
}
.contact_5_about{
  min-height: 528px;
  background: #3794D1;
  padding: 58px 0;
  backdrop-filter: blur(4px);
}
.p_contact_about{
  padding-right: 45.5px;
}
.p_contact_4{
  margin-right: 11px;
}
.imh_r, .imh_l{
  position: relative;
  margin-top: 54px;
  margin-left: 54px;
  height: 358px;
  width: 358px;
  background: #3794D1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 26px;
}
.img_main_l, .img_main_r{
  position: absolute;
}
.col_main_l{
  padding-left: 125px;
  padding-right: 0;
}
.col_main_r{
  padding-left: 108px;
  padding-right: 0;
}
.imh{
  transform: rotate(-3deg);
}
a.button_main1{
  border: 1px solid #FFFFFF;
  background: #3794D1;
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 13px 26px;
  margin-bottom: 16px;
  display: inline-block;
}
@media (max-width: 1200px) {
  .col_main_l{
    padding-left: 33px;
  }
}
@media (max-width: 1100px) {
  .col_main_r{
    padding-left: 25px;
  }
  .col_main_l{
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
.col_main_r,.col_main_l{
    padding-left: 0;
    display: flex;
}
.img_main_l, .img_main_r{
  position: inherit;
}
.imh_r, .imh_l{
  margin-top: 0;
  width: 100%;
  height: auto;
}
  .col_main_r{
    margin-top: 79px;
  }
  .main_nav_vl{
    margin: 0 9px;
  }
}
/*Об ISO20022 end*/
.col_home_l{
  padding-left: 0px;
  padding-right: 61px;
}
.col_home_r{
  padding-left: 61px;
  padding-right: 0px;
}
@media (max-width: 767px) {
  .col_home_l,.col_home_r{
    padding: 0;
  }
}
